* {
    border:0;
    padding:0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Street Fighter 6', sans-serif;
    text-decoration: none;
}
html {
    font-size: 62.5%;
    background: black;
}
body {
    font-size: 1.6rem;
}
.container {
    margin: 0 auto;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-area: 
    "Header" 
    "main";
    /* grid-template-columns: 5rem; */
    /* colums mexe na coluna  */
    grid-template-rows: 50px 1fr; 
    /*rolls mexe nas linhas */
    background-image:
    linear-gradient(to top, rgb(0, 0, 0), rgba(59, 59, 59, 0)),
    url('../img/background.jpg');
}
.header {
    display: grid;
    grid-template-columns: 37rem 50rem 10fr;
    border-bottom: .1rem solid rgb(126, 126, 126);
    box-shadow: 3px 10px 29px -2px rgb(33, 0, 77);
}
.logo {
    background-image: url(../img/logo.png);
    background-size: 15rem;
    background-position: center;
    background-repeat:no-repeat;;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hud-cima {
    display: flex;
}
.hud-cima ul {
    height: 4.5rem;
    list-style: none;
    display: flex;
    
}
.hud-cima ul li{
    color: #fff;
    width: 10rem;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

.jogar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.jogar button {
    border: .1rem solid #fff;
    height: 3.5rem;
    width: 10rem;
    background: linear-gradient(90deg, rgb(197, 0, 187),rgb(100, 0, 139), rgb(100, 0, 139), rgb(197, 0, 187));
}

.jogar button a {
    color: #fff;
    text-shadow: -1px 4px 18px rgb(197, 0, 187,1);
}

main {
    display: grid;
    grid-template-rows:25rem 1fr ;
}
.tittle {
    display: flex;
    align-items: center;
    margin-left: 7rem;
    color: #fff;
    font-size: 12rem;
}

.lutadores {
    display: flex;
    justify-content: center;
    gap: 2.5rem;
    width: 128rem;
    flex-wrap: wrap;

}

.personagem {
    border: .1rem solid black;
    outline: .1rem solid grey;
    outline-offset: -.5rem;
    width: 24rem;
    height: 37rem;
    -webkit-transform: skew(-25deg);
    background-position: center;
    color: #fff;
    text-align:center;
    font-size: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-shadow: 0px 2px 4px rgb(0, 0, 0);
}

.personagem .status-top {
    visibility: hidden;
    width: 23rem;
    height: 14rem;
    background-image: url(../img/aki-pixel.png);
    background-size: 16.2rem;
    background-position-x: 2.9rem;
    background-position-y: -5rem;

}

.personagem .status-mid {
    visibility: hidden;
    width: 23rem;
    height: 15rem;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
}
.personagem .status-mid p {
    border-bottom: .1rem solid rgb(255, 0, 43);
    text-align: start;
    padding-left: 2rem;
    text-shadow: 0px 2px 15px rgba(233, 0, 79, 1);
    box-shadow: -4px 17px 59px -8px rgba(233, 0, 79, 1);
}
.personagem .status-mid span {
    text-align: start;
    padding-top: .5rem;
    padding-left: 2rem;
    padding-bottom: 1rem;
    text-shadow: 0px 2px 15px rgba(0, 0, 0, 1);
}

.personagem .status-bot {
    visibility: hidden;
    margin-top: 2rem;
    width: 23rem;
    height: 5rem;
    font-size: 1.7rem;
    display:flex;
    justify-content: space-around;
    align-items: end;
}

.personagem .status-bot button {
    height: 2.5rem;
    width: 4rem;
    border: .1rem solid #fff;
    background: linear-gradient(90deg, rgb(197, 0, 187),rgb(100, 0, 139), rgb(100, 0, 139), rgb(197, 0, 187));
    color: #fff;
    text-shadow: 0px 2px 4px rgb(0, 0, 0)

    
}

#aki {
    background-image: url(../img/aki-hover.png);
    background-size: 68rem;
}
#aki:hover {
    background-image: url(../img/aki.jpg);
}

#rashid {
    background-image: url(../img/rashid-hover.png);
    background-size: 60rem;
    background-position: -30rem;
    background-repeat: no-repeat;
}

#rashid:hover {
    background-image: url(../img/rashid.webp);
}

#lily {
    background-image: url(../img/lily-hover.png);
    background-size: 90rem;
}
#lily:hover {
    background-image: url(../img/Lily.jpg);

}
#cammy {
    background-image: url(../img/cammy-hover.png);
    background-size: 60rem;
    background-position: -71.8rem;
}

#cammy:hover {
    background-image: url(../img/cammy.webp);

}

#zangief {
    background-image: url(../img/zangief-hover.png);
    background-size: 65rem;
}
#zangief:hover {
    background-image: url(../img/zangief.png);

}
#jp {
    background-image: url(../img/jp-hover.png);
    background-size: 80rem;
    background-position-y: .001rem;

}
#jp:hover {
    background-image: url(../img/jp.jpg);

}#marisa {
    background-image: url(../img/marisa-hover.png);
    background-size: 70rem;
}
#marisa:hover {
    background-image: url(../img/marisa.jpg);

}#manon {
    background-image: url(../img/manon-hover.jpg);
    background-size: 70rem;
    background-position-x: -7.3rem;
    background-position-y: .2rem;
}
#manon:hover {
    background-image: url(../img/manon.jpg);

}#deejay {
    background-image: url(../img/deejay-hover.png);
    background-size: 70rem;
}
#deejay:hover {
    background-image: url(../img/deejay.webp);

}#ehonda {
    background-image: url(../img/honda-hover.png);
    background-size: 80rem;
    background-position-x: -23rem;
}
#ehonda:hover {
    background-image: url(../img/honda.webp);

}
#dhalsim {
    background-image: url(../img/dhalsim-hover.png);
    background-size: 75rem;
    background-position-x: -31rem;
}
#dhalsim:hover {
    background-image: url(../img/dhalsim.jpg);

}
#blanka {
    background-image: url(../img/blanka-hover.jpg);
    background-size: 70rem;
    background-position-x: -14.5rem;
}
#blanka:hover {
    background-image: url(../img/blanka.jpg);

}
#ken {
    background-image: url(../img/ken-hover.png);
    background-size: 68rem;
    background-position-x: -6.8rem;
}
#ken:hover {
    background-image: url(../img/ken.jpg);

}
#juri {
    background-image: url(../img/juri-hover.png);
    background-size: 68rem;
    background-position-x: -30rem;
}
#juri:hover {
    background-image: url(../img/juri.webp);

}
#kimbery {
    background-image: url(../img/kimbery-hover.png);
    background-size: 68rem;
    background-position-x: -25rem;
}
#kimbery:hover {
    background-image: url(../img/kimberly.jpg);

}
#guile {
    background-image: url(../img/guile-hover.png);
    background-size: 80rem;
}
#guile:hover {
    background-image: url(../img/guile.jpg);

}
#chunli {
    background-image: url(../img/chunli-hover.png);
    background-size: 68rem;
    background-position-x: -38rem;
}
#chunli:hover {
    background-image: url(../img/chunli.webp);

}
#jamie {
    background-image: url(../img/jamie-hover.png);
    background-size: 70rem;
}
#jamie:hover {
    background-image: url(../img/jamie.webp);

}
#luke {
    background-image: url(../img/luke-hover.png);
    background-size: 65rem;
}
#luke:hover {
    background-image: url(../img/Luke.jpg);

}
#ryu {
    background-image: url(../img/ryu-hover.png);
    background-size: 75rem;
    background-position-x: -20rem;
}
#ryu:hover {
    background-image: url(../img/ryu.webp);

}

